---
apiVersion: v1
kind: ConfigMap
metadata:
  name: node-task-config
data:
  MONGO_URL: "mongodb://mongo:27017/tasks"
  PORT: "3000"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mongo-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mongo
  template:
    metadata:
      labels:
        app: mongo
    spec:
      containers:
        - name: mongo
          image: mongo:6
          ports:
            - containerPort: 27017
          volumeMounts:
            - name: mongo-data
              mountPath: /data/db
      volumes:
        - name: mongo-data
          persistentVolumeClaim:
            claimName: mongo-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: mongo
spec:
  selector:
    app: mongo
  ports:
    - port: 27017
      targetPort: 27017
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-task-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: node-task-app
  template:
    metadata:
      labels:
        app: node-task-app
    spec:
      containers:
        - name: node-task-app
          image: aly666/node-crud-app
          ports:
            - containerPort: 3000
          envFrom:
            - configMapRef:
                name: node-task-config
---
apiVersion: v1
kind: Service
metadata:
  name: node-task-service
spec:
  selector:
    app: node-task-app
  ports:
    - port: 3000
      targetPort: 3000

