version: '3.9'

services:
  app:
    build: .
    container_name: node-task-app
    restart: always
    ports:
      - "${PORT}:3000"
    env_file:
      - .env
    depends_on:
      - mongo
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules   # penting: biar node_modules tidak ketimpa

  mongo:
    image: mongo:6
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:

